.footer{
  margin-left : 80px;
  font-size : 18px;
}
#main,#box1,#box3{
  display: grid;
  grid-template-columns: auto auto auto;


}
div.divimg{
  background-color: white;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 50px;
  text-align: center;
  height: 200px;
  width: auto;
  border-radius: 30px;
}
#box2{
  padding: 60px;
  font-size: 20px;
}
